$cor-template: #0099cb;
$cor-hover-dark: #308ca6;
$cor-font: #707070;
$cor-icon: #f7f6f6;
$gray: $cor-icon;
$gray-dark: #e6e1e1;

$gutter: 30px;

$tablet: 740px;
$_1024: 1023px;
$widescreen: 1152px;
$fullhd: 1344px;


